.audit-item:hover {
    background-color: #fafafa;
}

.audit-item__left {
    width: 90%;
}

.audit-item__left  svg {
    display: inline-block;
    margin-right: 10px;
}
.audit-item__left  p {
    display: inline-block;
    margin-right: 10px;
}

.audit-item__right button {
    padding: 4px 6px;
}

.audit-item__right button:hover {
    background-color: #ebebeb;
}

@media (max-width: 768px) {
    .audit-item__left {
        overflow: hidden;
        white-space: nowrap;
    }
}