@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


.progress-ring {
    transform: rotate(-90deg);
  }
  
  .progress-ring__circle {
    transition: stroke-dashoffset 0.35s;
  }
  
  .progress-ring__text {
    /* fill: #333; */
    transform-origin: center;
    transform: rotate(90deg);
    font-family: 'Roboto Mono', monospace;
  }
  
  .progress-ring__circle--progress {
    stroke-dasharray: 0;
    transition: stroke-dashoffset 1s;
  }
  

 
  